body {
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body.dark {
    background-color: black;
}

body.default {
    background-color: #34495e;
}

body.normal {
    background-color: #6ab04c;
}

body.warning {
    background-color: #f6b93b;
}

body.danger {
    background-color: #e55039;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
